---
import Hero from "../../components/Hero.astro";
import Navbar from "../../components/Navbar.astro";
import WhyNeedSite from "../../components/WhyNeedSite.astro";
import WhyUs from "../../components/WhyUs.astro";
import Cooperation from "../../components/Cooperation.astro";
import Contact from "../../components/Contact.astro";
import "../../styles/global.css";
import { getLangFromUrl, useTranslations } from "../../utils/utils.mjs";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const getStaticPaths= () => {
  return [
    { params: { lang: "pl" }},
    { params: { lang: "en" }},
    { params: { lang: "de" }},
  ];
}
---
<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Veska - Profesjonalne Strony Internetowe</title>
    <meta
      name="description"
      content="Veska – tworzymy profesjonalne strony internetowe dopasowane do potrzeb Twojego biznesu. Responsywne, SEO-friendly i estetyczne projekty, które wyróżnią Twoją markę w sieci. Skontaktuj się i zwiększ swoją widoczność online!"
    />

    <link rel="icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik"
    />
  </head>
  <body>
    <Navbar t={t}/>
    <Hero t={t} />
    <div class="main">
      <WhyNeedSite t={t} />
      <WhyUs t={t} />
      <Cooperation t={t} />
      <Contact t={t} />
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .main {
    width: 100%;
    max-width: 1920px;
    padding: 0 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  @media screen and (max-width: 1200px) {
    .main {
      padding: 0 0;
    }
  }
</style>
